<nav class="flex py-4 px-28 justify-between bg-[#7D9D9C] text-white">
    <div>
        <h1>Beauty Center.</h1>
    </div>
    <div class="flex justify-between space-x-10">
        <ul class="flex justify-between space-x-4">
            <li><a class="hover:border-b-4 hover:pb-6" routerLink="/Home">Home</a></li>
            <li><a class="hover:border-b-4 hover:pb-6" routerLink="/Package">Packages</a></li>
            <li><a class="hover:border-b-4 hover:pb-6" routerLink="/Home">About</a></li>
            <li><a class="hover:border-b-4 hover:pb-6" [routerLink]='["Cart",id]'>Cart</a></li>
            @if(userName != null){
                <li><a class="hover:border-b-4 hover:pb-6" (click)="logout()">Logout</a></li>
            }@else{
                <li><a class="hover:border-b-4 hover:pb-6" routerLink="/login">Login</a></li>
            }
        </ul>
        @if(userName != null){
            <div>
                <h3>{{userName}}</h3>
            </div>
        }
    </div>
</nav>