<div class="relative mx-28 mb-24 overflow-hidden">
    <img class="absolute top-0 right-0 w-50" src="../../../../assets/Images/Home/blob-haikei.svg">

    <div class="w-40 m-auto pb-16">
        <p class="font-serif font-semibold text-3xl mb-3 text-[#646464] tracking-wider">About Us</p>
        <hr class="text-[#7D9D9C] border-5">
    </div>

    <div class="justify-between flex">
        <div class="flex gap-x-4">
            <div class="flex flex-col space-y-10">
                <img class="shadow-md w-[300px] h-50 rounded-lg" src="../../../../assets/Images/Home/about1.jpg">
                <img class="shadow-md w-[300px] h-50 rounded-lg" src="../../../../assets/Images/Home/about3.jpg">
            </div>
            <div class="flex flex-col space-y-10">
                <img class="shadow-md w-[300px] h-50 rounded-lg" src="../../../../assets/Images/Home/about2.jpg">
                <img class="shadow-md w-[300px] h-50 rounded-lg" src="../../../../assets/Images/Home/about4.jpg">
            </div>
        </div>
        <div class="w-[45%] content-center">
            <div class="mb-7">
                <h1 class="text-2xl font-semibold mb-3 text-[#c59d6c]">Who we are..?</h1>
                <p class="text-[#646464]">
                    Welcome to our Beauty Center, where beauty meets expertise. At our center, 
                    we pride ourselves on being more than just a place for beauty treatments; 
                    we're a sanctuary for self-care and rejuvenation. With a team of dedicated professionals 
                    who are passionate about helping you look and feel your best, we strive to create an atmosphere of warmth, 
                    comfort, and trust.
                </p>
            </div>
            <div class="mb-7">
                <h1 class="text-2xl font-semibold mb-3 text-[#c59d6c]">What we do..?</h1>
                <p class="text-[#646464]">
                    We offer a comprehensive range of beauty services tailored to enhance your natural beauty and boost your confidence. 
                    From indulgent spa treatments to cutting-edge skincare solutions, 
                    our services are designed to address every aspect of your beauty regimen. Explore our menu of services, 
                    including luxurious facials, rejuvenating massages, precision hair styling, flawless makeup application, 
                    and advanced aesthetic treatments.
                </p>
            </div>
            <div>
                <h1 class="text-2xl font-semibold mb-3 text-[#c59d6c]">What you can expect..?</h1>
                <p class="text-[#646464]">
                    When you step into our Beauty Center, expect to be greeted with a warm smile and personalized attention 
                    from our team of skilled professionals. Your journey with us begins with a thorough consultation to understand 
                    your beauty goals, concerns, and preferences. Whether you're here for a quick touch-up or a full day of pampering,
                    we are committed to providing you with a bespoke experience tailored to your needs. 
                    Relax and unwind in our serene environment as we work our magic to reveal your inner radiance. 
                </p>
            </div>
        </div>
    </div>

    <img class=" absolute bottom-[-7%]  z-0 w-100" src="../../../../assets/Images/Home/wave-haikei.svg">
</div>