<footer class=" bg-[#7D9D9C]">
    <div class="mx-28 text-white font-medium py-4 flex justify-between items-center">
        <div class="flex w-[70%]">
            <div class="row">
                <div class="col">
                    <h4 class="text-2xl">Why we are special?</h4><hr class="my-3">
                    <ul class="text-neutral-200 font-light">
                        <li>Expert staff with years of experience.</li>
                        <li>State-of-the-art equipment and facilities.</li>
                        <li>Personalized treatments tailored to your needs.</li>
                        <li>Relaxing and luxurious environment.</li>
                        <li>Positive reviews from satisfied clients.</li>
                    </ul>
                </div>
                <div class="col">
                    <h4 class="text-2xl">customer service time:</h4><hr class="my-3">
                    <ul class="text-neutral-200 font-light">
                        <li>Monday 10AM - 9PM</li>
                        <li>Tuesday 10AM - 9PM</li>
                        <li>Wednesday 10AM - 9PM</li>
                        <li>Thursday 10AM - 10PM</li>
                        <li>Friday 10AM - 10PM</li>
                        <li>Weekends 10AM - 11PM</li>
                    </ul></div>
                <div class="col">
                    <h4 class="text-2xl">Some information</h4><hr class="my-3">
                    <ul class="text-neutral-200 font-light">
                        <li>Our beauty center offers a wide range of services designed to enhance your natural beauty. 
                            From skincare treatments to relaxing massages, we provide personalized care to meet your unique needs. 
                        </li>
                        <br>
                        <li>We take pride in our exceptional customer service and top-notch facilities. 
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <img src="../../../assets/Images/Home/Jade roller-pana.svg" class="w-25">
    </div>
</footer>
